<div id="title">
	<h1>{{title}}</h1>
	<h2>{{subtitle}}</h2>
	<p>{{web}}</p>
</div>

<article class="about">
	<h2>Sobre mi</h2>
	<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eu tempor nibh. Vestibulum dui leo, sagittis ut est eget, volutpat malesuada nulla. Nam lorem sem, sagittis in turpis eu, porta dignissim orci. In leo neque, pharetra vel sapien non, malesuada pulvinar magna. Aenean a nulla luctus, malesuada lacus id, blandit diam. Proin faucibus ut neque quis ullamcorper. Nullam porttitor porttitor dapibus.
	</p>

</article>